@font-face {
    font-family: 'intercity';
    font-style: normal;
    font-weight: normal;
    src:    url('fonts/intercity.eot?ba086x');
    src:    url('fonts/intercity.eot?ba086x#iefix') format('embedded-opentype'),
            url('fonts/intercity.ttf?ba086x') format('truetype'),
            url('fonts/intercity.woff?ba086x') format('woff'),
            url('fonts/intercity.svg?ba086x#intercity') format('svg');
}

.icon {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'intercity';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
}

.icon-star:before {
    content: "\e900";
}
.icon-done:before {
    content: "\e901";
}
.icon-done-circle:before {
    content: "\e902";
}
.icon-edit:before {
    content: "\e903";
}
.icon-error:before {
    content: "\e904";
}
.icon-warning:before {
    content: "\e905";
}
.icon-info:before {
    content: "\e906";
}
.icon-info-outline:before {
    content: "\e907";
}
.icon-help:before {
    content: "\e908";
}
.icon-block:before {
    content: "\e909";
}
.icon-lock:before {
    content: "\e90a";
}
.icon-delete:before {
    content: "\e90b";
}
.icon-cancel:before {
    content: "\e90c";
}
.icon-close:before {
    content: "\e90d";
}
.icon-add:before {
    content: "\e90e";
}
.icon-remove:before {
    content: "\e90f";
}
.icon-left:before {
    content: "\e910";
}
.icon-right:before {
    content: "\e911";
}
.icon-up:before {
    content: "\e912";
}
.icon-down:before {
    content: "\e913";
}
.icon-unfold:before {
    content: "\e914";
}
.icon-swap-horiz:before {
    content: "\e915";
}
.icon-swap-vert:before {
    content: "\e916";
}
.icon-filter:before {
    content: "\e917";
}
.icon-clock-outline:before {
    content: "\e918";
}
.icon-clock:before {
    content: "\e919";
}
.icon-timer:before {
    content: "\e91a";
}
.icon-timer-off:before {
    content: "\e91b";
}
.icon-account:before {
    content: "\e91c";
}
.icon-shopping-cart:before {
    content: "\e91d";
}
.icon-shopping-cart-remove:before {
    content: "\e91e";
}
.icon-location:before {
    content: "\e91f";
}
.icon-transfer:before {
    content: "\e920";
}
.icon-luggage:before {
    content: "\e921";
}
.icon-wifi:before {
    content: "\e922";
}
.icon-ac:before {
    content: "\e923";
}
.icon-hotel:before {
    content: "\e924";
}
.icon-cafe:before {
    content: "\e925";
}
.icon-restaurant-menu:before {
    content: "\e926";
}
.icon-restaurant:before {
    content: "\e927";
}
.icon-languages:before {
    content: "\e928";
}
.icon-hearing:before {
    content: "\e929";
}
.icon-headset:before {
    content: "\e92a";
}
.icon-mic-outline:before {
    content: "\e92b";
}
.icon-mic:before {
    content: "\e92c";
}
.icon-mic-off:before {
    content: "\e92d";
}
.icon-wc:before {
    content: "\e92e";
}
.icon-run:before {
    content: "\e92f";
}
.icon-walk:before {
    content: "\e930";
}
.icon-wheelchair:before {
    content: "\e931";
}
.icon-seat:before {
    content: "\e932";
}
.icon-bike:before {
    content: "\e933";
}
.icon-bus:before {
    content: "\e934";
}
.icon-ferry:before {
    content: "\e935";
}
.icon-train:before {
    content: "\e936";
}
.icon-train-alt:before {
    content: "\e937";
}
.icon-car:before {
    content: "\e938";
}
.icon-flight:before {
    content: "\e948";
}
.icon-visible:before {
    content: "\e939";
}
.icon-hidden:before {
    content: "\e93a";
}
.icon-notifications:before {
    content: "\e93b";
}
.icon-radio-checked:before {
    content: "\e93c";
}
.icon-radio-unchecked:before {
    content: "\e93d";
}
.icon-checkbox-checked:before {
    content: "\e93e";
}
.icon-checkbox-unchecked:before {
    content: "\e93f";
}
.icon-chat:before {
    content: "\e940";
}
.icon-cc-amex:before {
    content: "\e941";
}
.icon-cc-mastercard:before {
    content: "\e942";
}
.icon-cc-visa:before {
    content: "\e943";
}
.icon-google-plus:before {
    content: "\e944";
}
.icon-instagram:before {
    content: "\e945";
}
.icon-twitter:before {
    content: "\e946";
}
.icon-facebook:before {
    content: "\e947";
}